/* fretboard.css */

.note-label {
  position: absolute; 
  top: 2px; 
  left: 2px; 
  font-size: 9px;
  color: #fff; 
  font-weight: bold;
}

.fretboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.string {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.fret {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--background-color);
  margin-right: 2px;
  border-radius: 4px;
  background-color: var(--background-color);
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #fff;
  box-sizing: border-box;
}

.fret:hover {
  opacity: 0.8;
}

.fret.open-note,
.fret.octave-separator {
  margin-right: 7px; 
}

.fret.open-note::after,
.fret.octave-separator::after {
  content: '';
  position: absolute;
  top: 0;
  right: -6px; 
  width: 3px;
  height: 100%;
  background-color: var(--button-color); /* Fret Divider Color */
}

.fret:last-child {
  margin-right: 0;
}

.fret.selected {
  border: 2px solid #fff !important;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.note {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
}

.note-sharp-flat {
  font-size: 18px;
}


